
<div class="nav-bar">
    <ul>
        <li class="active"><a href="/Anasayfa">Anasayfa</a></li>
        <li><a href="/iletisim">İletişim</a></li>
        <li><a href="https://izu.edu.tr/">İZÜ Web Sayfası</a></li>
    </ul>
</div>
